<div>
  <mat-form-field>
    <input matInput placeholder="Nombres" [(ngModel)]= "medico.nombres">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]= "medico.apellidos">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CMP" [(ngModel)]= "medico.cmp" max="15" min="6">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="foto" [(ngModel)]= "medico.fotoUrl">
  </mat-form-field>
  <img [src] = "medico.fotoUrl" alt="foto del medico" width="50%" height="50%" *ngIf= "medico.fotoUrl != null">
</div>
<button mat-mat-raised-button color="primary" (click)= "operar()">Aceptar</button>
<button mat-mat-raised-button color="accent" (click)= "cancelar()">Cancelar</button>
